{% extends "./base.html" %}

{% block head %}
    {% load socialaccount %}
    {% load static %}
    <link rel='stylesheet' href= {% static 'runningApp/navbar.css' %}>

    {% block page_head %}{% endblock page_head %}
{% endblock head %}


{% block content %}

    <header class="flex-row">
        {% if user.is_authenticated %}
        <h1 class="header-left header-text">Hi, {{ user.get_full_name }}!</h1>
        <div class="header-links flex-row fill">
            {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-2"><path d="M14 19a6 6 0 0 0-12 0"/><circle cx="8" cy="9" r="4"/><path d="M22 19a6 6 0 0 0-6-6 4 4 0 1 0 0-8"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-waypoints"><circle cx="12" cy="4.5" r="2.5"/><path d="m10.2 6.3-3.9 3.9"/><circle cx="4.5" cy="12" r="2.5"/><path d="M7 12h10"/><circle cx="19.5" cy="12" r="2.5"/><path d="m13.8 17.7 3.9-3.9"/><circle cx="12" cy="19.5" r="2.5"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sprout"><path d="M7 20h10"/><path d="M10 20c5.5-2.5.8-6.4 3-10"/><path d="M9.5 9.4c1.1.8 1.8 2.2 2.3 3.7-2 .4-3.5.4-4.8-.3-1.2-.6-2.3-1.9-3-4.2 2.8-.5 4.4 0 5.5.8z"/><path d="M14.1 6a7 7 0 0 0-1.1 4c1.9-.1 3.3-.6 4.3-1.4 1-1 1.6-2.3 1.7-4.6-2.7.1-4 1-4.9 2z"/></svg> {% endcomment %}
            <span id="logged-in"><a class="header-text" id="map-btn" href="{% url 'logged_in_view' %}">Map</a></span>
            <span id="approve"><a class="header-text" href="{% url 'approve_routes' %}">Approve</a></span>

            <a class="header-text" href="{% url 'logout' %}">Logout</a>
        </div>
        
    {% endif %}
    </header>

    <div class="main-content-container">
        {% block page_content %}{% endblock page_content %}
    </div>

    <script>
        let spans = document.querySelectorAll('.header-links span');
        let url = window.location.href;
        spans.forEach((span) => {
            span.classList.remove('highlight');
            if(url.includes(span.id)){
                span.classList.add('highlight');
            }
        })
    </script>
{% endblock content %}