{% extends "./admin_navbar.html" %}

{% block page_content %}
    <div class="fill flex-column" id="routes-shelf">
        
    {% if not page_obj %}
        <div class="fill flex-column">
            <h1>No Routes to Approve</h1>
        </div>
    {% endif %}
    {% for route in page_obj %}
        <div class="card flex-row">
            <div class="this-info flex-column fill">
                <h1>{{ route.route_name }}</h1>
                <h3>By: {{ route.user_id }}</h3>
                <p>{{ route.route_description }}</p>
                
                
            </div>
            <div class="this-stops flex-column fill">
                <a id="view-route-btn" class="action-btn" href={% url "route_detail" pk=route.id %}>View Route</a>
                <div class="forms flex-row fill">
                    <form action = {% url "approve" %} method="post">
                        {% csrf_token %}
                        <input type="hidden" name="route_id" value="{{ route.id }}">
                        <input class="action-btn" type="submit" value="Approve">
                    </form>
                    <form action = {% url "delete" %} method="post">
                        {% csrf_token %}
                        <input type="hidden" name="route_id" value="{{ route.id }}">
                        <input class="action-btn" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    {% comment "Citation" %}
    Title: Paginating a Django Listview
    Purpose: below span code snippet copied from django documentation to navigate between pages
    URL: https://docs.djangoproject.com/en/4.2/topics/pagination/
    {% endcomment %}
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="link" href="?page=1">&laquo; first</a>
            <a class="link" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="link" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>

    </div>

    <style>

        .link {
            text-decoration: none;
            color: var(--orange);
        }

        .action-btn {
            background-color: var(--dark-grey);
            color: white;
            border: 1px solid white;
            padding: 1vh 1vw;
            border-radius: 10px;
            box-shadow: 0 0 10px 0 var(--orange);
        }

        .action-btn:hover {
            color: white;
            cursor: pointer;
            box-shadow: none;
        }

        .forms{
            gap: 1vh;
        }

        .forms .action-btn{ 
            width: 8cqw;
        }

        #view-route-btn {
            text-decoration: none;
            transform: translateY(20%);
        } 

        #routes-shelf {
            background-color: var(--dark-grey);
            top: 6vh;
            color: white;
            height: 94vh;
            box-sizing: border-box;
            gap: 2vh;
        }

        .card {
            border: 1px solid white;
            border-radius: 10px;
            padding: 2vh 2vw;
            width: 60vw;
            gap: 2vh;
            max-height: 23vh;
            min-height: 23vh;
            overflow: hidden;
        }

        .this-info {
            width: 50%;
            gap: 1vh;
            height: 100%;
            overflow: auto;
            text-align: center;
            flex: 2;
            box-sizing: border-box;
            justify-content: flex-start;
        }

        .this-info h1{
            font-size: 2.25em;
            font-weight: 800;
        }

        .this-info h3{
            font-size: 2em;
            font-weight: 300;
        }

        .this-info p{
            font-size: 1.25em;
            font-weight: 100;
        }

        .this-stops {
            width: 50%;
            gap: 1vh;
            overflow-y: auto;
            height: 100%;
            overflow-x: hidden;
            flex: 1;
        }

        div *{
            margin: 0;
        }

        .coords{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock page_content %}