{% extends "./base_navbar.html" %}
{% load static %}

{% block page_head %}
    <title>Create | Run This Town</title>
{% endblock page_head %}

{% block page_content %}
    <div class="full-screen" style="background: var(--dark-grey); color: white; height: 94vh">
        {% include "./map.html" %}
        {% include "./detail_sidebar.html" %}
        <p id="distance"></p>
        <form id="finish-form" action = {% url "create" %} method="post">
            {% csrf_token %}
            {% comment %} <input type="hidden" name="stops_list"> {% endcomment %}
            <button type="submit" id="finish-route">Finish</button>   {% comment "TODO" %} change this to a POST form submit btn to add stops to db {% endcomment %}
        </form>
    </div>

    <style>
        #finish-route, #distance {
            position: absolute;
            bottom: 10px;
            left: 10px;
            width: 20vw;
            height: 6vh;
            background: var(--dark-grey);
            color: white;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            z-index: 5;
            border-radius: 10px;
            box-shadow: 0 0 10px 0 var(--orange);
            display: none;
        }

        #finish-route:active {
            box-shadow: none;
        }

        #distance {
            bottom: 50px;
            justify-content: center;
            align-items: center;
            text-align: center;
            box-shadow: none;
            cursor: default;
        }
    </style>

{% endblock page_content %}
