{% load static %}

<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}"></script>

<div id="map" class="full-height"></div>

<script>
    let map;

    {% comment %} const svgMarker = {
        path: 
        fillColor: '#E57200',
        scale: 1,
        anchor: new google.maps.Point(0, -20),
    } {% endcomment %}
    
    function initMap() {
        const mapCenter = { lat: 38.0293, lng: -78.4767 };

        map = new google.maps.Map(document.getElementById('map'), {
            center: mapCenter,
            zoom: 13,
        });

        {% if object %}
            return;
        {% endif %}

        {% if route_start_points %}
            let rsp = {{ route_start_points }};
            for (let i = 0; i < rsp.length; i++) {
                const mark = addMarker(rsp[i][0], rsp[i][1], rsp[i][2]);
                google.maps.event.addListener(mark, 'click', (e) =>{ 
                    // console.log(fetch("/runningApp/logged-in/" + mark.id + "/"));
                    window.location.href = "/runningApp/logged-in/" + mark.id + "/"
                    // console.log(mark.id);
                    // console.log( "/logged-in/" + mark.id + "/") // HARDCODED ... url resolving doesn't work with dynamic value - could make custom tag with lazy load but eh
                });
            }
        {% else %}
            google.maps.event.addListener(map, 'click', (e) =>{ 
                const lat = e.latLng.lat();
                const lng = e.latLng.lng();
                const mark = addMarker(lat, lng, -1);
            })
        {% endif %}        
    }

    function addMarker(lat, lng, id, url="https://static-00.iconduck.com/assets.00/runner-icon-1954x2048-w2ek49bj.png") {
        // console.log(lat, lng, title, window);
        const mark = new google.maps.Marker({
            position: {lat: lat, lng: lng},
            map: map,
            id: id,
            icon: {
                url: url,
                scaledSize: new google.maps.Size(20, 20),
            },
        });
        return mark;
    }

    google.maps.event.addDomListener(window, 'load', initMap);

    function panTo(obj){
        const center = new google.maps.LatLng( obj.lat , obj.long);
        map.panTo(center);
    }

    {% if object %}
        console.log("hello")
        let stop_list = [];
        let obj;
        {% for stop in current_stops%}
            obj  = {id: {{stop.id}}, lat: {{ stop.latitude }}, long: {{ stop.longitude}} };
            stop_list.push(obj);
        {% endfor %}
        console.log(stop_list);
        google.maps.event.addDomListener(window, 'load', () => panTo(stop_list[0]));
        google.maps.event.addDomListener(window, 'load', () => addCurrentStops(stop_list));

        function addCurrentStops(stop_list){
            stop_list.forEach((obj, i)=>{
                addMarker(obj.lat, obj.long, obj.id, "https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Running_icon_-_Noun_Project_17825_retouched.svg/1229px-Running_icon_-_Noun_Project_17825_retouched.svg.png");
            })
        }
        
    {% endif %}
    
</script>

