.background {
    background-color: var(--dark-grey);
}

.right {
    background-image: url("images/three_runners.jpg");
    background-size: cover;
    background-position: 0%;
    filter: blur(2px);
}