.background {
    background-color: var(--dark-grey);
}

.right {
    background-image: url("images/three_runners.jpg");
    background-size: cover;
    background-position: 0%;
    filter: blur(2px);
}

.movement {
    margin: 0;
    color: var(--orange);
}

h1 {
    display: contents;
    font-size: 10cqmin;
}

h1, h3 {
    color: white;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-container {
    align-items: flex-start;
    width: 70%;
}

.button-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

button {
    background-color: transparent;
    border: none;
}

#go-to-app-button {
    background-color: transparent;
    color: white;
    border: 6px solid var(--orange);
    border-radius: 10px;
    padding: 6cqmin;
    box-sizing: border-box;
    white-space: nowrap;
    font-size: 6cqmin;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-shadow: 1px 1px 1px 1px gray;
}

/* button:hover {
} */

#go-to-app-button:hover {
    border-color: var(--orange-hover);
    cursor: pointer;
    box-shadow: none;
}

/* #google-sign-in-button img:hover {
    filter: brightness(75%);
}

#google-sign-in-button {
    width: fit-content;
    height: fit-content;
    padding: 0%;
}

#google-sign-in-button:hover {
    cursor: pointer;
} */